<div class="container-fluid">
<div class="container-fluid" id="div1">
  <div class="text">
  <h1>MATERIALSPEDIA</h1>
  <h2>About us</h2>
  <p>MaterialsPedia is a new project that aims to raise awareness of the history of raw materials and their intrinsic effect they have had on the development of human civilization.</p>

  <p>The knowledge of these raw materials can be useful to understand the importance they have had in the past ... and not only that!</p>

  <p>Desertification, deforestation, rising temperatures, wars ... are just some of the consequences we face today. For this reason it is important to find out about new technologies that can help us to have a more sustainable economy and a more correct distribution of resources. Maybe learning from the past.</p>
  </div>
  <div class="img">
    <img src="../../assets/img-about/map.jpeg" alt="">
  </div>
  </div>

<h2 class="t2"> It doesn't seem to be the best, but...</h2>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://biografieonline.it/img/bio/Johann_Wolfgang_Goethe_2.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">

      <p>With every remarkable discovery people ask what it is for, and they are not wrong; for they can only measure the value of an object by its usefulness.</p>
      <p>Johann Wolfgang Goethe</p>

    </div>
  </div>
</div>

<div class="cardcontainer">
<div class="card" style="width: 18rem;">
  <img src="../../assets/img-card/salt.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>Salt</h4>
    <p class="card-text">The first uses of salt made it possible to preserve food and disinfect wounds.</p>
  </div>
</div>



<div class="card" style="width: 18rem;">
  <img src="../../assets/img-card/grain.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>Grain</h4>
    <p class="card-text">It was the protagonist of the first welfare project: Aureliano distributes free bread to Roman citizens.</p>
</div>
</div>

<div class="card" style="width: 18rem;">
  <img src="../../assets/img-card/coal.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4>Coal</h4>
    <p class="card-text">When coal was discovered it was used to make jewelry, as a fuel for home heating and for cooking.</p>
  </div>
</div>

<div class="close">
<h2>...medicine, warming, food</h2>
<p >are just some of the positive aspects of these findings. <button class="btn btn-primary"  [routerLink]="['/home']"> So let's go!</button></p>
</div>
