<div class="container">

  <div class="intro">
    <h1>Mistakes happen...</h1>
    <h3>Write to us!</h3>
  </div>

  <div class="if">
  <p class="if2">If while reading you notice that there are errors, of any kind, please do not hesitate to write to us!
   We will promptly check your report and make corrections.</p>
</div>


  <div class="jung">
    <img src="https://www.psiconline.it/images/immagini/articoli/carl-gustav-jung-.jpg" alt="">
    <div class="cit">
      <p>Mistakes are, after all, the foundations of truth, and if a man does not know what a thing is, it is at least
        an increase in knowledge if he knows what it is not.</p>
      <p>Carl Gustav Jung</p>
    </div>
  </div>



  <div class="form-group">

    <label for="text">Topic</label><input />
    <label for="text">Mistakes</label><input />
    <button class="btn btn-primary">Send!</button>

  </div>
</div>
