<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MATERIALSPEDIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="http://localhost:4200/posts/fossil">Fossil fuel</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/metals">Metals</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/spices">Spices</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/fabrics">Fabrics</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/cereals">Cereals</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/plants">Plants</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/drugs">Drugs</a></li>
            <li><a class="dropdown-item" href="http://localhost:4200/posts/stones">Stones</a></li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<div class="container">
  <footer class="d-flex bg-dark flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
</div>



