body{
  background-image: url(https://www.axpo.com/it/it/home/attivita/energia-verde-fonte-rinnovabile/_jcr_content/root/stage/image1.coreimg.82.1280.jpeg/1583753539995/image.desktop.size-xl.sme-greenoption-xl1280x720.jpeg);
  background-attachment: scroll;
  background-position: inherit;
}


