
<div class="firstcontainer">
  <div class="title">
<h1>WELCOME TO MATERIALSPEDIA</h1>
</div>
</div>



<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Information and curiosities
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse bg-dark" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Each element of the earth has its own history and curious events, here you can discover them!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Light teaching
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse  bg-dark" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Simple didactics, text accompanied by pictures to make it smooth reading and get a visual idea of what you are learning.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Less is more
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse  bg-dark" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">You don't need so many pages of boring information! A few, correct and accurate pieces of information will make the experience more enjoyable.</div>
    </div>
  </div>
</div>



<div class="container">
<div *ngFor="let Post of Post" class="card" >
  <div class="card-body">
    <h5 class="card-title">{{ Post.title }}</h5>
    <p class="card-text">{{Post.body}}</p>
    <img [src]='Post.photoUrl' >
    <a class="nav-link active" [routerLink]='["/posts",Post.slug]' >Discover them!</a>
  </div>
</div>
</div>
